#postcard {
    display: none;
}
h1 {
    background-color: honeydew;
    text-align: center;
    text-transform: uppercase;
    padding: 12px;
    
}
#form-machine {
    background-color: honeydew;
    color: darkmagenta;
    font-style: oblique;
    line-height: 30px;
}
button:hover {
    background-color: honeydew;
    font-style: inherit;
    border-style: double;
    border-radius: 15px;
    border-color: black;
}
.letter-address {
    position: relative;
    height: 160px;
    width: 165px;
    left: 1035px;
    line-height: 25px;
}
.letter-img {
    position: absolute;
}
.letter-end{
    float: right;
    line-height: 10px;
}
p {
    font-style: italic;
}
#postcard {
    background-color: white;
    border: 5px;
    border-style: solid;
    border-color: blue;
    padding: 30px;
    border-radius: 12px;
    margin: 20px;
}
footer {
    text-align: center;
    background-color: honeydew;
    padding: 15px;
}