#postcard {
    display: none;
}
h1 {
    background-color: honeydew;
    text-align: center;
    text-transform: uppercase;
    padding: 12px;
    border: 15px;
    border-width: 10px;
    border-color: blue;
    border-radius: 15px;
    border-style: double;
}
#form-machine {
    background-color: honeydew;
    color: darkmagenta;
    font-style: oblique;
    line-height: 30px;
}
button:hover {
    background-color: honeydew;
    font-style: inherit;
    border-style: double;
    border-radius: 15px;
    border-color: black;
}
.letter-address {
    position: relative;
    height: 180px;
    width: 165px;
    left: 1150px;
    line-height: 25px;
}
.letter-img {
    position: absolute;
}
.letter-end{
    float: right;
    line-height: 10px;
}